<!DOCTYPE html>
<html xmlns:th="http://https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fixedLayout.html}">

<div layout:fragment="content">
    <div class="container d-flex justify-content-center">
        <img th:src="@{~/images/404.jpg}" alt="Logo" style="width:700px;"/>
    </div>
    <div class="container d-flex justify-content-center">
        <h1>Ooops! Esse produto não foi encontrado</h1>
    </div>
        <div class="container d-flex justify-content-center mb-4">
            <a th:href="@{/products}" type="button" class="btn btn-primary btn-lg">Voltar para início</a>
        </div>
</div>

</html>