<!DOCTYPE html>
<html xmlns:th="http://https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fixedLayout.html}">

<div layout:fragment="content">


    <table id="example" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th >Nome</th>
            <th>Preço</th>
            <th>Data de entrega</th>
            <th class="text-center">Estado</th>
            <th colspan="3" class="text-center">Opções</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${list}">
            <td th:text="${prod.id}">ID</td>
            <td th:text="${prod.name}" style="width: 55% ">Nome</td>
            <td th:text="'R$' + ${#numbers.formatDecimal(prod.price, 0, 'COMMA', 2, 'POINT')}">Preço</td>
            <td th:text="${#dates.format(prod.deliveryDate, 'dd/MM/yyyy')}">Data</td>

            <td th:if="${prod.deliveryState == true}" class="text-center" >
                <span class="badge rounded-pill bg-success ">Entregue</span>
            </td>
            <td th:if="${prod.deliveryState == false}" class="text-center">
                <span class="badge rounded-pill bg-warning text-dark">Pendente</span>
            </td>


            <td class="text-center">
                <a th:href="@{/products/edit(id=${prod.id})}" class="text-decoration-none link-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/></svg></a>
            </td>
            <td class="text-center ">
                <a href="#" class="text-decoration-none link-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"/><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"/><circle cx="5.5" cy="18.5" r="2.5"/><circle cx="18.5" cy="18.5" r="2.5"/></svg>
                </a>
            </td>
            <td class="text-center">
                <a id="deleteButton" th:href="@{/products/delete(id=${prod.id})}" class="text-decoration-none link-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"/><line x1="15" y1="9" x2="9" y2="15"/><line x1="9" y1="9" x2="15" y2="15"/></svg>
                </a>
            </td>


        </tr>
        </tbody>
    </table>

</div>

</html>